<launch>
 
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find rover_arm)/urdf/rover_arm.urdf.xacro'" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model rover_arm -param robot_description"
        output="screen" />
</launch>
